/* Flex Containers */

.flexContainer {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;  /* OLD - Firefox 19- */
    display: -ms-flexbox;  /* Chrome */
    display: -webkit-flex; /* IE 10 */
    display: flex; /* brings up issues with flexitem having greater width of flexbox, and spaning outside of it. */

    -webkit-flex-flow: row nowrap;
    flex-flow:row nowrap;

    justify-content:center;
    width:100%;
    max-width:884px;

}

/* Flex Items */

.blogItem {
    width:100%;
    /* margin:4px; */
    border-bottom:0px solid rgba(180, 180, 180, .7);
    /*padding: 10px;*/
}

@media all and (max-width: 483px) {
    .flexContainer {
        -webkit-flex-flow: column nowrap;
        justify-content:center;
    }

    .blogItem {
      align-self:center;
      width:100%;
    }
}
